{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecter {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Connexion</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" placeholder="Email UTT" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <p>Pas encore de compte ?<a href={{ path('app_register') }}> M'inscrire</a></p>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-style btn-block text-uppercase" type="submit">Me connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}
