{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inscription</h5>
                        {{ form_start(registrationForm) }}

                            <div class="form-label-group">
                                {{ form_row(registrationForm.firstname) }}
                            </div>
                            <div class="form-label-group">
                                {{ form_row(registrationForm.lastname) }}
                            </div>
                            <div class="form-label-group">
                                {{ form_row(registrationForm.email) }}
                            </div>

                            <div class="form-label-group">
                                {{ form_row(registrationForm.plainPassword.first) }}
                            </div>

                            <div class="form-label-group">
                                {{ form_errors(registrationForm.plainPassword.second) }}
                                {{ form_row(registrationForm.plainPassword.second) }}
                            </div>

                            <p>Déja inscrit ?<a href={{ path('app_login') }}>Me connecter</a></p>

                            <hr class="my-4">

                            <button class="btn btn-lg btn-block text-uppercase btn-style">M'inscrire</button>

                            {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
