<form method="post" action="{{ path('sous_competence_delete', {'id': sous_competence.id}) }}" onsubmit="return confirm('Voulez vraiment suppprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_competence.id) }}">
    <button class="btn btn-sm btn-danger float-lg-right">Supprimer la sous compétence</button>
</form>
