{{ form_start(form) }}
<div class="row">
    <div class="au-card col-md-5">
        {{ form_row(form.description) }}
        <div class="line"></div>
        <div class="alert alert-warning" role="alert">
            Attention, une fois la compétence changée, les sous compétences seront décochées
        </div>
        {{ form_row(form.competence) }}
        <button class="btn btn-style-2">{{ button_label|default('Enregistrer') }}</button>
    </div>
    <div class="au-card col-md-6">
        <div class="tableProfil">
            <h5>Associées des sous compétences</h5>
            <div class="line"></div>
        {{ form_row(form.microcompetences) }}
        </div>
    </div>
</div>
{{ form_end(form) }}

 {% block otherscripts %}
     <script>
         // Ajouter une classe du nom de la competence associée à tout les labels des checkbox sous compétences.
         let tab_comp = ["analyse", "conception","realisation","deploiement","gestion"];
         for(let comp of tab_comp){
             for(let element of document.getElementsByClassName(comp)){
                 if(document.getElementById(element.id)){
                     document.getElementById(element.id).labels[0].className = comp;
                 }
             }
         }

         let elements  = $(".deploiement, .analyse, .conception, .realisation, .gestion");

         // Cacher toutes les checkboxs
         for(let option of document.getElementsByClassName("analyse")) option.hidden = true;
         for(let option of document.getElementsByClassName("conception")) option.hidden = true;
         for(let option of document.getElementsByClassName("realisation")) option.hidden = true;
         for(let option of document.getElementsByClassName("deploiement")) option.hidden = true;
         for(let option of document.getElementsByClassName("gestion")) option.hidden = true;


         var firstCheckboxCompetence = $('input:checkbox:checked:first')[0];
         if(firstCheckboxCompetence !== undefined){
             var options = document.getElementsByClassName(firstCheckboxCompetence.classList[2]);
             for (let option of elements) option.hidden = true;
             for (let option of options) option.hidden = false;
             console.log(options[0])
             document.getElementById('competences').value = firstCheckboxCompetence.classList[2];
         }else{
             for(let option of document.getElementsByClassName("analyse")) option.hidden = false;
         }


         // Changer les checkboxs si changement de compétence
         $('#sous_competence_competence').on('change', function() {
             var selectCompetence = this.options[this.selectedIndex].innerHTML;
             var options = document.getElementsByClassName(selectCompetence);
             for (let option of elements) option.hidden = true;
             for (let option of options) option.hidden = false;
             // Déselecte toute le sous compétences si changements de compétences
             for (let checkbox of document.getElementsByTagName('input')) checkbox.checked = false;
         });
     </script>
 {% endblock %}

