{% extends 'base.html.twig' %}

{% block title %}Modifier des sous compétences{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Modifier des sous compétences</h1>
    <hr class="my-4">

    <div class="row">
        <div class="au-card col-md-12">
            <h6>Recherche de sous compétences par compétence</h6>
            <div class="line"></div>
            <select id="competences" class="form-control">
                <option value="analyse">analyse</option>
                <option value="conception">conception</option>
                <option value="realisation">réalisation</option>
                <option value="deploiement">déploiement</option>
                <option value="gestion">gestion</option>
            </select>
            <div class="line"></div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sous Compétence</th>
                    <th scope="col">Editer</th>
                </tr>
                </thead>
                {% for sousCompetence in sousCompetences %}
                    <tbody>
                    <tr class= {{ sousCompetence.competence.name }}>
                        <th scope="row">{{ sousCompetence.id }}</th>
                        <td>{{ sousCompetence.description }}</td>
                        <td colspan="1">
                            <a href="{{ path('sous_competence_edit', {id: sousCompetence.id})}}">
                                <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                {% else %}
                    <p>Aucune Ue trouvée</p>
                {% endfor %}
            </table>
            <a href="{{ path('sous_competence_new')}}">
                <button class="btn btn-sm btn-secondary float-right">
                    <i class="fas fa-plus"></i>
                    Nouvelle micro compétence
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block otherscripts %}
    <script>
        // Afficher uniquement les options pour la compétence analyse dans un premier temps
        for(let option of document.getElementsByClassName("conception")) option.hidden = true;
        for(let option of document.getElementsByClassName("realisation")) option.hidden = true;
        for(let option of document.getElementsByClassName("deploiement")) option.hidden = true;
        for(let option of document.getElementsByClassName("gestion")) option.hidden = true;

        // Changer les options si changement de compétence
        $('#competences').on('change', function() {
            var selectCompetence = this.options[this.selectedIndex].value;
            console.log(selectCompetence);
            var options = document.getElementsByClassName(selectCompetence);
            var elements  = $(".deploiement, .analyse, .conception, .realisation, .gestion");
            for (let option of elements) option.hidden = true;
            for (let option of options) option.hidden = false;
            for (let checkbox of document.getElementsByTagName('input')) checkbox.checked = false;
            document.getElementById('admin_micro_competence_sousCompetence').value = options[0].value;
        });
    </script>
{% endblock %}
