{% extends 'base.html.twig' %}

{% block title %}Modifier une sous compétence{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Modifier une sous compétence</h1>
    <hr class="my-4">
    {{ include('sous_competence/_form.html.twig', {'button_label': 'Modifier'}) }}
    <a href="{{ path('app_admin_sous_competence') }}">Retour</a>
    {{ include('sous_competence/_delete_form.html.twig') }}
</div>
{% endblock %}
