<form method="post" action="{{ path('ue_delete', {'id': ue.id}) }}" onsubmit="return confirm('Voulez vraiment suppprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer cette UE</button>
</form>
