{{ form_start(form) }}
    <div class="row">
            <div class="au-card col-md-5">
                {{ form_row(form.code) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.programme) }}
                {{ form_row(form.semestre) }}
                {{ form_row(form.type) }}
            </div>
            <div class="au-card col-md-6">
                <div class="tableProfilAdmin">
                    <label>Choisir une compétence pour voir les micro compétences correspondantes</label>
                    <select id="competences" class="form-control">
                        <option value="analyse">analyse</option>
                        <option value="conception">conception</option>
                        <option value="realisation">réalisation</option>
                        <option value="deploiement">déploiement</option>
                        <option value="gestion">gestion</option>
                    </select>
                    <div class="line"></div>
                    <h6>Micro compétences associées</h6>
                    <div class="line"></div>
                    {{ form_widget(form.microcompetences) }}
                </div>
                <button id="save" class="btn btn-style-2 down">{{ button_label|default('Enregistrer') }}</button>
            </div>
    </div>
{{ form_end(form) }}
{% block otherscripts %}
    <script>
        // Ajouter une classe du nom de la competence associée à tout les labels des checkbox sous compétences.
        let tab_comp = ["analyse", "conception","realisation","deploiement","gestion"];
        for(let comp of tab_comp){
            for(let element of document.getElementsByClassName(comp)){
                if(document.getElementById(element.id)){
                    document.getElementById(element.id).labels[0].className = comp;
                }
            }
        }

        let elements  = $(".deploiement, .analyse, .conception, .realisation, .gestion");

        // Cacher toutes les checkboxs
        for(let option of document.getElementsByClassName("analyse")) option.hidden = true;
        for(let option of document.getElementsByClassName("conception")) option.hidden = true;
        for(let option of document.getElementsByClassName("realisation")) option.hidden = true;
        for(let option of document.getElementsByClassName("deploiement")) option.hidden = true;
        for(let option of document.getElementsByClassName("gestion")) option.hidden = true;


        var firstCheckboxCompetence = $('input:checkbox:checked:first')[0];
        if(firstCheckboxCompetence !== undefined){
            var options = document.getElementsByClassName(firstCheckboxCompetence.classList[2]);
            for (let option of elements) option.hidden = true;
            for (let option of options) option.hidden = false;
            console.log(options[0])
            document.getElementById('competences').value = firstCheckboxCompetence.classList[2];
        }else{
            for(let option of document.getElementsByClassName("analyse")) option.hidden = false;
        }

        // Changer les checkboxs si changement de compétence
        $('#competences').on('change', function() {
            var selectCompetence = this.options[this.selectedIndex].value;
            var options = document.getElementsByClassName(selectCompetence);
            for (let option of elements) option.hidden = true;
            for (let option of options) option.hidden = false;
            $('#sousCompetences').value = options[0].value
        });
    </script>
{% endblock %}


