{% extends 'base.html.twig' %}

{% block title %}Modifier des Ues{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Modifier des Ues</h1>
    <hr class="my-4">
    <div class="row">
        <div class="au-card col-md-7">
            <table class="table tableProfilAdmin table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">UE</th>
                        <th scope="col">Editer</th>
                    </tr>
                    </thead>
                    {% for ue in ues %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ ue.code }}</th>
                            <td>{{ ue.nom }}</td>
                            <td colspan="1">
                                <a href="{{ path('ue_edit', {id: ue.id})}}">
                                    <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% else %}
                        <p>Aucune Ue trouvée</p>
                    {% endfor %}
            </table>
            <a href="{{ path('ue_new') }}">
                <button class="btn btn-style-2 float-lg-right"> <i class="fas fa-plus"></i> Ajouter une UE</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
