{% extends 'base.html.twig' %}

{% block title %}Modifier une Ue{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Modifier l'Ue</h1>
    <hr class="my-4">
    {{ include('ue/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('ue/_delete_form.html.twig') }}
</div>
{% endblock %}
