{% extends 'base.html.twig' %}

{% block title %}Nouvelle UE{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Créer une nouvelle UE</h1>
    <hr class="my-4">
    {{ include('ue/_form.html.twig') }}
    <a href="{{ path('app_admin') }}">Retour</a>
</div>
{% endblock %}
