.accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}

.accordion .panel:after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 25px;
    left: 15px;
}

/* couleur de la barre */

#accordion1 .panel:after{
    background: #F46036;
}

#accordion2 .panel:after {
    background: #6f2b72;
}

#accordion3 .panel:after {
    background: #1B998B;
}

#accordion4 .panel:after {
    background: #E71D36;
}

#accordion5 .panel:after {
    background: #6B7C24;
}

/* couleur de la section */

#accordion1 .panel-title a{
    background: #fff;
    color: #F46036;

}

#accordion2 .panel-title a{
    color: #6f2b72;
    background: #fff;
}

#accordion3 .panel-title a{
    color: #1B998B;
    background: #fff;
}

#accordion4 .panel-title a{
    color: #E71D36;
    background: #fff;
}

#accordion5 .panel-title a{
    color: #6B7C24;
    background: #fff;
}

/* couleur fond et bord section non active */

#accordion1 .panel-title a.collapsed:after {
    background: #F46036;
    border: 2px solid #F46036;
    color: #cacddb;
}

#accordion2 .panel-title a.collapsed:after{
    background: #6f2b72;
    border: 2px solid #6f2b72;
    color: #cacddb;
}

#accordion3 .panel-title a.collapsed:after{
    background: #1B998B;
    border: 2px solid #1B998B;
    color: #cacddb;
}

#accordion4 .panel-title a.collapsed:after{
    background: #E71D36;
    border: 2px solid #E71D36;
    color: #cacddb;
}

#accordion5 .panel-title a.collapsed:after {
    background: #6B7C24;
    border: 2px solid #6B7C24;
    color: #cacddb;
}

.accordion .panel:last-child:after{
    display: none;
}

/*.accordion .panel-heading{*/
/*    padding: 0;*/
/*    border: none;*/
/*    background: #fff;*/
/*}*/

/* couleur fond et contour section active */

#accordion1 .panel-title a:after{
    border: 2px solid #F46036;
}

#accordion2 .panel-title a:after{
    border: 2px solid #6f2b72;
}

#accordion3 .panel-title a:after{
    border: 2px solid #1B998B;
}

#accordion4 .panel-title a:after{
    border: 2px solid #E71D36;
}

#accordion5 .panel-title a:after{
    border: 2px solid #6B7C24;
}

.accordion .panel-title a{
    display: block;
    padding: 5px 20px 20px 50px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.accordion .panel-title a:after{
    content: "";
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.accordion .panel-body{
    padding: 10px 20px 10px 70px;
    border: none;
    font-size: 14px;
    color: black;
    line-height: 25px;
}

