:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

/*.custom-control-input {*/
/*  display: inline-block;*/
/*}*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input{
  padding: var(--input-padding-y) var(--input-padding-x);
}

.btn-style{
  background-color: #104f55;
  color:white;
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  padding: 1rem;
  transition: all 0.2s;
}

.card a{
  font-weight: bold;
  color: #104f55;
}

.card a:hover{
  color: #32746d;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}