@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #cad2c5;
}

h4 {
    color: #104f55;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

.list-group-item-action.active{ !important;
    background-color: #104f55;
    border: none;
}

.badge-style{
    background: #104f55;
    color: white;
    float: right;
    font-size : 13px;
    margin-right:5px;
    margin-top:2px;
}

.badge-style2{
    background: #cad2c5;
    color: black;
    float: right;
    margin:1rem;
}

.list-group{
    max-height: 600px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.tableStyle{
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*margin-bottom: 30px;*/
}

.au-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin:0.5rem;
}

.profil{
    height:35rem;
}

.down{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.btn-style-2{
    background-color: #104f55;
    color:white;
    margin-top:1rem;
    font-size: 12px;
    border-radius: 5rem;
    transition: all 0.2s;
}

.tableProfil{
    display: block;
    max-height: 350px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.tableProfilAdmin{
    display: block;
    max-height: 27rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.sectionStyle{
    display: block;
    max-height: 20rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.borderless td, .borderless th {
    border: none;
}

.choixue{
    width:100px;
}

.testcheck{
    display:block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 195px;
    max-width: 195px;
    background: #32746d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 195px;
    max-width: 195px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #104f55;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.5em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #104f55;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #104f55;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #104f55;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse{
	background-color: #104f55;
	color: white;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 960px) {
	#sidebarCollapse{
		display:none;	
	}

	#sidebar.active .sidebar-header h3,
	#sidebar.active .CTAs {
    	display: block;
	}

	#sidebar.active .sidebar-header strong {
    	display: none;
	}

	#sidebar.active ul li a {
    font-size: 1.1em;
    text-align: left;
	}

	#sidebar.active .dropdown-toggle::after {
    bottom: 30px;
    right: 20%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
	
}

@media (max-width: 960px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
        overflow: hidden;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        min-width: 120px;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 700px) {
    .chartUe{
        position: absolute;
        width: 100px;
    }
}