.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}

.tabprofil label{
    font-weight: 100;
    padding: 0.9em;
    font-size: 14px;
}

.inputTab, section{
    clear: both;
    padding-top: 10px;
    display: none;
}

.competence {
    font-weight: 500;
    font-size: 15px;
    padding:    1rem;
    display: block;
    float: left;
    width: 20%;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

.tab_container [id^="tab1"] + label {
    background-color: #F46036;
    color: #f0f0f0;
}

.tab_container [id^="tab1"]:checked + label {
    color: #F46036;
    background: #f0f0f0;
    box-shadow: inset 0 10px #F46036;
}

.tab_container [id^="tab2"] + label {
    background-color: #6f2b72;
    color: #f0f0f0;
}

.tab_container [id^="tab2"]:checked + label {
    color: #6f2b72;
    background: #f0f0f0;
    box-shadow: inset 0 10px #6f2b72;
}

.tab_container [id^="tab3"] + label {
    background-color: #1B998B ;
    color: #f0f0f0;
}

.tab_container [id^="tab3"]:checked + label {
    color: #1B998B;
    background: #f0f0f0;
    box-shadow: inset 0 10px #1B998B;
}

.tab_container [id^="tab4"] + label {
    background-color: #E71D36;
    color: #f0f0f0;
}

.tab_container [id^="tab4"]:checked + label {
    color: #E71D36;
    background: #f0f0f0;
    box-shadow: inset 0 10px #E71D36;
}

.tab_container [id^="tab5"] + label {
    background-color: #6B7C24;
    color: #f0f0f0;
}

.tab_container [id^="tab5"]:checked + label {
    color: #6B7C24;
    background: #f0f0f0;
    box-shadow: inset 0 10px #6B7C24;
}


/*Media query*/
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label .fa {
        font-size: 18px;
    }

    .tab_container {
        width: 98%;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}


a:hover,a:focus{
    text-decoration: none;
    outline: none;
}


a:hover,a:focus{
    text-decoration: none;
    outline: none;
}