<form method="post" action="{{ path('micro_competence_delete', {'id': micro_competence.id}) }}" onsubmit="return confirm('Voulez vraiment suppprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ micro_competence.id) }}">
    <button class="btn btn-sm btn-danger float-right">Supprimer la micro compétence</button>
</form>
