    <div class="row">
        <div class="au-card col-md-3">
                <label for="competences">Compétence</label>
                <div class="alert alert-warning" role="alert">
                    Attention, une fois la compétence changée, les sous compétences et UEs associées seront décochées
                </div>
                <select id="competences" class="form-control">
                    <option value="analyse">analyse</option>
                    <option value="conception">conception</option>
                    <option value="realisation">réalisation</option>
                    <option value="deploiement">déploiement</option>
                    <option value="gestion">gestion</option>
                </select>
            <div class="line"></div>
            {{ form_start(form) }}
            {{ form_row(form.description) }}
            <button id="save" class="btn btn-style-2 float-left">{{ button_label|default('Enregistrer') }}</button>
        </div>
        <div class="au-card col-md-4">
            <div class="tableProfilAdmin">
                <h5>Choisir les sous-compétences associées</h5>
                <div class="line"></div>
                {{ form_row(form.sousCompetences) }}
            </div>
        </div>
        <div class="au-card col-md-4">
            <div class="tableProfilAdmin">
                <h5>Choisir les UE associées</h5>
                <div class="line"></div>
                {{ form_row(form.ues) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% block otherscripts %}
        <script>
            // Ajouter une classe du nom de la competence associée à tout les labels des checkbox sous compétences.
            let tab_comp = ["analyse", "conception","realisation","deploiement","gestion"];
            for(let comp of tab_comp){
                for(let element of document.getElementsByClassName(comp)){
                    if(document.getElementById(element.id)){
                        document.getElementById(element.id).labels[0].className = comp;
                    }
                }
            }

            let saveButton = $("#save");
            let elements  = $(".deploiement, .analyse, .conception, .realisation, .gestion");

            // Cacher toutes les checkboxs
            for(let option of document.getElementsByClassName("analyse")) option.hidden = true;
            for(let option of document.getElementsByClassName("conception")) option.hidden = true;
            for(let option of document.getElementsByClassName("realisation")) option.hidden = true;
            for(let option of document.getElementsByClassName("deploiement")) option.hidden = true;
            for(let option of document.getElementsByClassName("gestion")) option.hidden = true;


            var firstCheckboxCompetence = $('input:checkbox:checked:first')[0];
            if(firstCheckboxCompetence !== undefined){
                var options = document.getElementsByClassName(firstCheckboxCompetence.classList[2]);
                for (let option of elements) option.hidden = true;
                for (let option of options) option.hidden = false;
                console.log(options[0])
                document.getElementById('competences').value = firstCheckboxCompetence.classList[2];
                saveButton[0].disabled = false;
            }else{
                saveButton[0].disabled = true;
                for(let option of document.getElementsByClassName("analyse")) option.hidden = false;
            }

            // Si aucune sous compétence n'est sélectionnée, bloquer le bouton d'envois du formulaire
            $('#micro_competence_sousCompetences').on('change', function(){
                if($('input[name="micro_competence[sousCompetences][]"]:checkbox:checked:first')[0] !== undefined){
                    document.getElementById('save').disabled = false;
                }else{
                    document.getElementById('save').disabled = true;
                }
            });

            // Changer les checkboxs si changement de compétence
            $('#competences').on('change', function() {
                var selectCompetence = this.options[this.selectedIndex].value;
                var options = document.getElementsByClassName(selectCompetence);
                for (let option of elements) option.hidden = true;
                for (let option of options) option.hidden = false;
                $('#sousCompetences').value = options[0].value
                // Déselecte toute le sous compétences si changements de compétences
                for (let checkbox of document.getElementsByTagName('input')) checkbox.checked = false;
                document.getElementById('save').disabled = true;
            });
        </script>
    {% endblock %}



