{% extends 'base.html.twig' %}

{% block title %}Editer des micro compétences{% endblock %}


{% block body %}
<div class="tab_container">
    <h1>Modifier des micro compétences</h1>
    <hr class="my-4">

    <div class="row">
        <div class="au-card col-md-5">
            <h5>Chercher une micro compétence à éditer</h5>
            <div class="line"></div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-style-2">{{ button_label|default('Rechercher les microcompétences') }}</button>
            {{ form_end(form) }}
            <div class="line"></div>
            <a href="{{ path('micro_competence_new')}}">
                <button class="btn btn-sm btn-secondary float-right">
                    <i class="fas fa-plus"></i>
                    Nouvelle micro compétence
                </button>
            </a>
        </div>
        {% if microcompetences is defined and microcompetences is not empty %}
            <div class="au-card col-md-6">
                <table class="table table-hover tableProfil tableStyle">
                    <thead>
                        <th scope="row">Id</th>
                        <th>Microcompétence</th>
                        <th>Editer</th>
                    </thead>
                    <tbody>
                        {% for microcompetence in microcompetences %}
                            <tr>
                                <td>{{ microcompetence.id }}</td>
                                <td>{{ microcompetence.description }}</td>
                                <td>
                                    <a href="{{ path('micro_competence_edit', {id: microcompetence.id})}}">
                                        <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block otherscripts %}
    <script>
        // Afficher uniquement les options pour la compétence analyse dans un premier temps
        for(let option of document.getElementsByClassName("conception")) option.hidden = true;
        for(let option of document.getElementsByClassName("realisation")) option.hidden = true;
        for(let option of document.getElementsByClassName("deploiement")) option.hidden = true;
        for(let option of document.getElementsByClassName("gestion")) option.hidden = true;

        // Changer les options si changement de compétence
        $('#admin_micro_competence_competence').on('change', function() {
            var selectCompetence = this.options[this.selectedIndex].text;
            console.log(selectCompetence);
            var options = document.getElementsByClassName(selectCompetence);
            var elements  = $(".deploiement, .analyse, .conception, .realisation, .gestion");
            for (let option of elements) option.hidden = true;
            for (let option of options) option.hidden = false;
            for (let checkbox of document.getElementsByTagName('input')) checkbox.checked = false;
            document.getElementById('admin_micro_competence_sousCompetence').value = options[0].value;
        });
    </script>
{% endblock %}
