{% extends 'base.html.twig' %}

{% block title %}Modifier une Micro Competence{% endblock %}

{% block body %}
    <div class="tab_container">
        <h1>Modifier une micro compétence</h1>
        <hr class="my-4">
        {{ include('micro_competence/_form.html.twig', {'button_label': 'Modifier'}) }}
        <a href="{{ path('app_admin_micro_competence') }}">Retour</a>
        {{ include('micro_competence/_delete_form.html.twig') }}
    </div>
{% endblock %}
