{% extends 'base.html.twig' %}

{% block title %}Nouvelle Micro Competence{% endblock %}

{% block body %}
    <div class="tab_container">
        <h1>Créer une nouvelle micro compétence</h1>
        <hr class="my-4">
        {{ include('micro_competence/_form.html.twig') }}
        <a href="{{ path('app_admin_micro_competence') }}">Retour</a>
    </div>
{% endblock %}
