{% extends 'base.html.twig' %}

{% block title %}Administrer le site{% endblock %}

{% block body %}

<div class="tab_container">
    <h1>Administrer le site</h1>
    <hr class="my-4">
    <div class="row">
        <div class="au-card col-md-12">
            <h5>Bonjour {{ user.firstname }}</h5>
            <div class="line"></div>
            <h6>Sur cette plateforme vous pourrez :</h6>
            <br>
            <ul>
                <li>Ajouter, modifier, supprimer des UE</li>
                <li>Ajouter, modifier, supprimer des sous compétences</li>
                <li>Ajouter, modifier, supprimer des micro compétences</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
