<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <script src="{{ asset('js/googleChart.js')}}"></script>
        <script src="{{ asset('js/jquery.js')}}"></script>
        {% block head %}{% endblock %}

        <title>{% block title %}Profil ISI{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset("css/bootstrap.min.css") }}>
            <link rel="stylesheet" href={{ asset("css/style.css") }}>
            <link rel="stylesheet" href={{ asset("css/tab.css") }}>
            <link rel="stylesheet" href={{ asset("css/accordion.css") }}>
            <link rel="stylesheet" href={{ asset("css/form.css") }}>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><i class="fas fa-laptop"></i> Profil ISI</h3>
                    <strong>ISI</strong>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href={{ path('app_accueil') }}>
                           <i class="fas fa-home"></i>
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="#catalogueSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-copy"></i>
                            Catalogue
                        </a>
                        <ul class="collapse list-unstyled" id="catalogueSubmenu">
                            <li>
                                <a href={{ path('app_catalogue_ues') }}>UE</a>
                            </li>
                            <li>
                                <a href={{ path('app_catalogue_competences') }}>Compétences</a>
                            </li>
                        </ul>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                        <li>
                            <a href={{ path('app_profil') }}>
                                <i class="fas fa-graduation-cap"></i>
                                Mon profil
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_choixUe') }}>
                                <i class="fas fa-briefcase"></i>
                                Choisir mes ues
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_logout') }}>
                                <i class="fas fa-sign-out-alt"></i>
                                Se déconnecter
                            </a>
                        </li>
                    {% elseif is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href={{ path('app_admin') }}>
                                <i class="fas fa-graduation-cap"></i>
                                Administrer
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_admin_ue') }}>
                                <i class="fas fa-edit"></i>
                                Editer Ues
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_admin_sous_competence') }}>
                                <i class="fas fa-edit"></i>
                                Editer sous compétences
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_admin_micro_competence') }}>
                                <i class="fas fa-edit"></i>
                                Editer micro compétences
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_logout') }}>
                                <i class="fas fa-sign-out-alt"></i>
                                Se déconnecter
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href={{ path('app_login') }}>
                                <i class="fas fa-graduation-cap"></i>
                                Se connecter
                            </a>
                        </li>
                        <li>
                            <a href={{ path('app_register') }}>
                                <i class="fas fa-briefcase"></i>
                                S'inscrire
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div id="content">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-justify"></i>
                </button>
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/popper.min.js')}}"></script>
            <script src="{{ asset('js/main.js')}}"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        {% endblock %}

        {% block otherscripts %}{% endblock %}
    </body>
</html>
