{% extends 'base.html.twig' %}

{% block title %}Choisir mes UE{% endblock %}

{% block head %}
    <script>
        // Configuration du chart
        const options = {
            colors: ['#F46036', '#6f2b72', '#1B998B', '#E71D36', '#6B7C24'],
            fontName: 'poppins',
            chartArea:{left:0,top:0,width:"100%",height:"100%"},
            pieHole: 0.4,
            legend: {position: 'center', textStyle: {fontSize: 15}}
        };

        function createChart(elementId, analyse, conception, realisation, deploiement, gestion ){
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Competence', 'pourcentage par UE'],
                    ['Analyse', analyse],
                    ['Conception', conception],
                    ['Réalisation',  realisation],
                    ['Déploiement', deploiement],
                    ['Gestion',    gestion]
                ]);

                var chart = new google.visualization.PieChart(document.getElementById(elementId));
                chart.draw(data, options);
            }
        }
    </script>
{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Choisir mes UE</h1>
    <hr class="my-4">

    <div class="row">
        <div class="au-card col-md-12">
            <h6>Je souhaite développer mes compétences en ...</h6>
            {{ form_start(form) }}
                {{ form_widget(form, { 'attr': {'class': 'choixue'} }) }}
                <button class="btn btn-style-2">{{ button_label|default('Rechercher') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

    {% if infoUes is defined and infoUes is not empty %}
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                {% for infoUe in infoUes %}
                    <a class="list-group-item list-group-item-action"
                       data-toggle="list"
                       role="tab"
                       id={{ 'list-' ~ infoUe.ue.code ~ '-list' }}
                       href={{ '#list-' ~ infoUe.ue.code }}
                       aria-controls={{ infoUe.ue.code }}>
                        <strong>{{ infoUe.ue.code }}</strong>
                        <br>
                        {{ infoUe.ue.nom }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                {% for infoUe in infoUes %}
                    <div class="tab-pane fade" role="tabpanel" id={{ 'list-' ~ infoUe.ue.code }} aria-labelledby={{ 'list-' ~ infoUe.ue.code ~ '-list' }}>
                        <div class="au-card">
                            <span class="badge badge-pill badge-style">{{ infoUe.ue.semestre }}</span>
                            <span class="badge badge-pill badge-style2">{{ infoUe.ue.type }}</span>
                            <h5>
                                <strong>{{ infoUe.ue.code }}</strong>
                                <span>{{ infoUe.ue.nom }}</span>
                            </h5>
                            <hr>
                            <div class="row chartUe" id={{ infoUe.ue.code }}></div>
                            <br>

                            <nav>
                                <div class="nav nav-tabs" id={{ 'nav-tab' ~ infoUe.ue.code }} role="tablist">
                                    <a class="nav-item nav-link active" id={{ 'nav-objectif-tab' ~ infoUe.ue.code }} data-toggle="tab" href={{ '#nav-objectif' ~ infoUe.ue.code }} role="tab" aria-controls={{ 'nav-objectif' ~ infoUe.ue.code }} aria-selected="true">Objectif</a>
                                    <a class="nav-item nav-link" id={{ 'nav-programme-tab' ~ infoUe.ue.code }} data-toggle="tab" href={{ '#nav-programme' ~ infoUe.ue.code }} role="tab" aria-controls={{ 'nav-programme' ~ infoUe.ue.code }} aria-selected="false">Programme</a>
                                    <a class="nav-item nav-link" id={{ 'nav-competence-tab' ~ infoUe.ue.code }} data-toggle="tab" href={{ '#nav-competence' ~ infoUe.ue.code }} role="tab" aria-controls={{ 'nav-competence' ~ infoUe.ue.code }} aria-selected="false">Compétences</a>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id={{ 'nav-objectif' ~ infoUe.ue.code }} role="tabpanel" aria-labelledby={{ 'nav-objectif-tab' ~ infoUe.ue.code }}><br>{{ infoUe.ue.description }}</div>
                                <div class="tab-pane fade" id={{ 'nav-programme' ~ infoUe.ue.code }} role="tabpanel" aria-labelledby={{ 'nav-programme-tab' ~ infoUe.ue.code }}><br>{{ infoUe.ue.programme }}</div>
                                <div class="tab-pane fade" id={{ 'nav-competence' ~ infoUe.ue.code }} role="tabpanel" aria-labelledby={{ 'nav-competence-tab' ~ infoUe.ue.code }}><br>
                                    <div class="table-responsive">
                                        <table class="table table-hover tableStyle">
                                            <tbody>
                                            {% for microcompetence in infoUe.ue.microCompetences %}
                                                <tr>
                                                    <th scope="row"><span class="badge badge-pill badge-style2">{{microcompetence.sousCompetences.first.competence.name}}</span></th>
                                                    <td>{{microcompetence.description}}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        createChart('{{ infoUe.ue.code }}',
                                {{ infoUe.competences.analyse }},
                                {{ infoUe.competences.conception }},
                                {{ infoUe.competences.realisation }},
                                {{ infoUe.competences.deploiement }},
                                {{ infoUe.competences.gestion }})
                    </script>
                    {% else %}
                    <p>Aucun résulat</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
