{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Profil ISI{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Bienvenue sur Profil ISI</h1>
    <h5>Construisez et personalisez votre parcours ISI</h5>
    <hr class="my-4">


    <div class="row">
        <div class="au-card col-12">
            <h6>Cette plateforme vous accompagnera lors de votre cursus pour :</h6>
            <br>
            <ul>
                <li>Choisir les compétences que vous souhaitez développer</li>
                <li>Choisir vos UEs en conséquences</li>
                <li>Visualiser vos UEs et votre profil de compétences</li>
                <li>Partager facilement votre profil</li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}
