{# Ne peut pas générer le css dans le pdf autrement que sous cette forme #}
{# TODO trouver une meilleure solution pour intégrer le bootstrap dans le pdf ou faire un css propre au pdf #}
{% include 'style.html'%}

<div class="row">
    <div class="au-card col-sm-12">
        <p>Profil de compétences de {{ user.firstname }} {{ user.lastname }}</p>
        {# TODO Ajouter la fillière de l'étudiant si elle existe #}
        <hr class="my-4">
    </div>

</div>

    <div class="row">
        <div class="au-card col-sm-12">
            <img src="{{ srcChart }}">
        </div>
    </div>

    <div class="row">
        <div class="au-card col-sm-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cours suivis</th>
                    <th>Lettre obtenue</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                <tr>
                    <th scope="row">{{ note.ue.code }}</th>
                    <td>{{ note.ue.nom }}</td>
                    <td>{{ note.lettre }}</td>
                </tr>
                </tbody>
                {% else %}
                    <p>Aucun cours suivie</p>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="line"></div>

    {% for key,value in microCompetences %}
        <div class="row">
            <div class="au-card col-sm-12">
                <table class="table table-sm">
                    <thead class="{{ key }}">
                    <tr>
                        <th scope="col">Micro Compétences acquises en {{ key }} </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for microCompetence in value %}
                            <tr>
                                <td scope="col">{{ microCompetence.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}



