{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block head %}
    <script src="{{ asset('js/generateImgChart.js')}}"></script>
    <script>
        ImgChart({{ profilCompetences.analyse }}, {{ profilCompetences.conception }}, {{ profilCompetences.realisation }}, {{ profilCompetences.deploiement }}, {{ profilCompetences.gestion }}  )
    </script>
{% endblock %}

{% block body %}
<div class="tab_container">
    <h1>Mon profil</h1>
    <hr class="my-4">

    {# Form pour générer le chart en pdf depuis son image en png #}
    <div id="elementImg" style="display:none"></div>
    <div id="imgSrc" style="display:none"></div>
    <form id="imgData" method="post" action={{ path('app_pdf')}}>
        <input type="hidden" name="src" id="src"/>
    </form>

    <div class="row">
        <div class="au-card col-md-4 col-sm-12 profil">
            <table class="tableProfil table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">UE</th>
                    <th scope="col">Note</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                <tr>
                    <th scope="row">{{ note.ue.code }}</th>
                    <td>{{ note.ue.nom }}</td>
                    <td colspan="1"><span class="badge badge-pill badge-style">{{ note.lettre }}</span></td>
                    <td>
                        <form method="post" onsubmit="deleteMessage()" action={{ path('app_ue_delete', {id: note.id})}}>
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
                {% else %}
                    <p>Aucune Ue suivie</p>
                {% endfor %}
{#                    {% for ue in user.ues %}#}
{#                    <tr>#}
{#                        <th scope="row">{{ ue.code }}</th>#}
{#                        <td>{{ ue.nom }}</td>#}
{#                        <td colspan="1"><span class="badge badge-pill badge-style">A</span></td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                    {% else %}#}
{#                        <p>Aucune Ue suivie</p>#}
{#                    {% endfor %}#}
            </table>
            <div class="line"></div>
            <div>
                <h6>Ajouter une UE suivie</h6>
                {% if form is defined %}
                {{ form_start(form) }}
                <div class="form-label-group">
                    {{ form_widget(form) }}
                </div>
                <button class="btn btn-style-2">{{ button_label|default('Ajouter') }}</button>
                {{ form_end(form) }}
                {% endif %}
            </div>
            <a id="generatePDF"><button onclick="generatePDF()" class="btn btn-style-2 down">Télécharger mon profil en PDF</button></a>
        </div>
        <div class="au-card col-md-7 col-sm-12 profil">
            <h5 class="float-right">{{ user.firstname }} {{ user.lastname }}</h5>
            <br>
            <nav>
                <div class="nav nav-tabs" id="chart" role="tablist">
                    <a class="nav-item nav-link active" id="nav-chart-tab" data-toggle="tab" href="#nav-chart" role="tab" aria-controls="nav-chart" aria-selected="true">Profil</a>
                    <a class="nav-item nav-link" id="nav-competence-tab" data-toggle="tab" href="#nav-competence" role="tab" aria-controls="nav-competence" aria-selected="false">Compétences</a>
               </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-chart" role="tabpanel" aria-labelledby="nav-chart-tab">
                    <div id="chartProfil"></div>
                </div>
                <div class="tab-pane fade" id="nav-competence" role="tabpanel" aria-labelledby="nav-competence-tab">
                    <h6>Séléctionner la compétence que vous souhaitez consulter</h6>
                    <input class="inputTab" id="tab1" type="radio" name="tabs" checked>
                    <label class="competence" for="tab1"><span>Analyse</span></label>

                    <input class="inputTab" id="tab2" type="radio" name="tabs">
                    <label class="competence" for="tab2"><span>Conception</span></label>

                    <input class="inputTab" id="tab3" type="radio" name="tabs">
                    <label class="competence" for="tab3"><span>Réalisation</span></label>

                    <input class="inputTab" id="tab4" type="radio" name="tabs">
                    <label class="competence" for="tab4"><span>Déploiement</span></label>

                    <input class="inputTab" id="tab5" type="radio" name="tabs">
                    <label class="competence" for="tab5"><span>Gestion</span></label>

                    <section id="content1" class="tab-content">
                        <table id="table1" class="table table-sm tableProfil">
                            {% for microcompetence in microCompetences['analyse'] %}
                                <tr><td>{{ microcompetence.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section id="content2" class="tab-content">
                        <table id="table2" class="table table-sm tableProfil">
                            {% for microcompetence in microCompetences['conception'] %}
                                <tr><td>{{ microcompetence.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section id="content3" class="tab-content">
                        <table id="table3" class="table table-sm tableProfil">
                            {% for microcompetence in microCompetences['realisation'] %}
                                <tr><td>{{ microcompetence.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section id="content4" class="tab-content">
                        <table id="table4" class="table table-sm tableProfil">
                            {% for microcompetence in microCompetences['deploiement'] %}
                                <tr><td>{{ microcompetence.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section id="content5" class="tab-content">
                        <table id="table5" class="table table-sm tableProfil">
                            {% for microcompetence in microCompetences['gestion'] %}
                                <tr><td>{{ microcompetence.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
      function generatePDF(){
          document.getElementById('src').value = document.getElementById('imgSrc').innerHTML;
          document.getElementById('imgData').submit();
      }
      function deleteMessage(){
          return confirm('Voulez vraiment suppprimer cet élément?');
      }
    </script>
{% endblock %}
