{% extends 'base.html.twig' %}

{% block title %}Catalogue des compétences{% endblock %}

{% block body %}
    <div class="tab_container">

        <h1>Catalogue des compétences</h1>
        <hr class="my-4">

        <input class="inputTab" id="tab1" type="radio" name="tabs" checked>
        <label class="competence" for="tab1"><span>Analyse</span></label>

        <input class="inputTab" id="tab2" type="radio" name="tabs">
        <label class="competence" for="tab2"><span>Conception</span></label>

        <input class="inputTab" id="tab3" type="radio" name="tabs">
        <label class="competence" for="tab3"><span>Réalisation</span></label>

        <input class="inputTab" id="tab4" type="radio" name="tabs">
        <label class="competence" for="tab4"><span>Déploiement</span></label>

        <input class="inputTab" id="tab5" type="radio" name="tabs">
        <label class="competence"  for="tab5"><span>Gestion</span></label>

        {% for competence in competences %}
            <section id={{ 'content' ~ competence.id }} class="tab-content">
                <div class="row">
                    <div class="au-card col-md-12">
                        <h5>{{ competence.completeName }}</h5>
                        <div class="line"></div>
                        <div class="panel-group accordion" role="tablist"
                             aria-multiselectable="true" id={{ 'accordion' ~ competence.id }}>
                            {% for sousCompetence in competence.sousCompetences %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id={{ 'heading' ~ sousCompetence.id }}>
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               aria-expanded="false"  href={{ '#collapse' ~ sousCompetence.id }}
                                               aria-controls={{ 'collapse' ~ sousCompetence.id }}>
                                                {{sousCompetence.description}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{ 'collapse' ~ sousCompetence.id }}" class="panel-collapse collapse in"
                                         role="tabpanel" aria-labelledby={{ 'heading' ~ sousCompetence.id }}>
                                        <div class="panel-body">
                                        {% for microCompetence in sousCompetence.microCompetences %}
                                            <table class="table borderless table-sm">
                                                    <tr>
                                                        <td>{{microCompetence.description}}</td>
                                                        <td>
                                                        {% for ue in microCompetence.ues %}
                                                            <span class="badge badge-style">{{ue.code}}</span>
                                                        {% endfor %}
                                                        </td>
                                                    </tr>
                                            </table>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <p>Aucun résulat</p>
        {% endfor %}

    </div>
{% endblock %}
